.InputField{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 10%;
}

.WordInput{
    width: 60vh;
    height: 5vh;
    border-radius: 2vh;
    font-size: x-large;
}